<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>
	  <add name="DefaultConnection" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=PurdueIOTest; Integrated Security=true; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|PurdueIOTest.mdf" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
