<html>
<head>
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Fonts.css" rel="stylesheet" />
    <title>Classes - Purdue.io Web API Help Page</title>
</head>
<header>
    <div>
        <div>
            <h1><span class="heavy">Purdue.io</span> Web API Help Page</h1>
        </div>
    </div>
</header>
<body>
    <nav>
        <div class="info">
            <h1>Class Object Content</h1>
            <p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>ClassId</td>
                        <td>A unique identifier for a specific class.</td>
                        <td>Guid</td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td>@Html.ActionLink("Course entity.", "Courses")</td>
                        <td>Entity</td>
                    </tr>
                    <tr>
                        <td>Term</td>
                        <td>@Html.ActionLink("Term entity.", "Terms")</td>
                        <td>Entity</td>
                    </tr>
                    <tr>
                        <td>Campus</td>
                        <td>@Html.ActionLink("Campus entity.", "Campuses")</td>
                        <td>Entity</td>
                    </tr>
                    <tr>
                        <td>Sections</td>
                        <td>@Html.ActionLink("Section entity.", "Sections")</td>
                        <td>Entity</td>
                    </tr>
                </table>
            </p>
            <h1>Class Query Examples</h1>
            <p>
                Direct queries on a class should be relatively rare - chances are if information about classes or subentities are needed, it will be of greater benefit to search with the courses entity as the parent.
            </p>
            <p>
                Listing of all classes that meet in a specific room (notice how any is used when narrowing down by collections):
                <br />
                <a target="_blank" href="~/odata/Classes?$expand=Sections($expand=Meetings)&$filter=(Sections/any(s:%20s/Meetings/any(m:%20m/Room/Building/ShortCode%20eq%20%27CL50%27)))%20and%20(Sections/any(s:%20s/Meetings/any(m:%20m/Room/Number%20eq%20%27224%27)))">odata/Classes?$expand=Sections($expand=Meetings)&$filter=(Sections/any(s: s/Meetings/any(m: m/Room/Building/ShortCode eq 'CL50'))) and (Sections/any(s: s/Meetings/any(m: m/Room/Number eq '224')))</a>
            </p>
        </div>
    </nav>
</body>
</html>