<html>
<head>
	<link type="text/css" href="~/Content/bundles/css" rel="stylesheet" />
    <title>Purdue.io API</title>
</head>
<body>
	<div id="component_GlobalProgressIndicator" class="COMPONENT globalProgressIndicator closed">

	</div>
	<header>
		Purdue.io API Query Tester
	</header>
	<form>
		https://api.purdue.io&nbsp;<input name="query" type="text" placeholder="/odata/..." />
		<br />
		<a href="https://github.com/Purdue-io/PurdueApi/wiki/OData-Queries" target="_blank">Help</a>&nbsp;<input type="submit" value="Run Query" />
	</form>
	<div class="results">

	</div>
	<script type="text/javascript" src="~/bundles/ts"></script>
</body>
</html>