@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Purdue.io API Demo</title>
	@Styles.Render("~/Content/css")
</head>
<body>
	<header>
		<h1><span class="heavy">Purdue.io</span> API Demo</h1>
	</header>
	<nav>
		<button class="back"></button>
		<h1>Select Term</h1>
	</nav>
	<div class="content">
	</div>

	@Scripts.Render("~/bundles/js")
	@Scripts.Render("~/bundles/ts")
	<script type="text/javascript">
		window.onload = function () {
			new Demo();
		};
	</script>
</body>
</html>
