<html>
<head>
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Fonts.css" rel="stylesheet" />
    <title>Instructors - Purdue.io Web API Help Page</title>
</head>
<header>
    <div>
        <div>
            <h1><span class="heavy">Purdue.io</span> Web API Help Page</h1>
        </div>
    </div>
</header>
<body>
    <nav>
        <div class="info">
            <h1>Instructor Object Content</h1>
            <p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>InstructorId</td>
                        <td>A unique identifier for a specific instructor.</td>
                        <td>Guid</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Name of a specific instructor, i.e. "Peter W. Cook"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>Email address of the instructor.  No example to avoid spambots</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Meetings</td>
                        <td>@Html.ActionLink("Meeting entity.", "Meetings")</td>
                        <td>Entity</td>
                    </tr>
                </table>
            </p>
            <h1>Instructor Query Examples</h1>
            <p>
                Finding an instructor's name from a given email address:
                <br />
                <a target="_blank" href="~/odata/Instructors?$filter=Email%20eq%20%27email%20address%20here%27">odata/Instructors?$filter=Email%20eq%20%27email address here%27</a>
            </p>
        </div>
    </nav>
</body>
</html>