<html>
<head>
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Fonts.css" rel="stylesheet" />
    <title>Meetings - Purdue.io Web API Help Page</title>
</head>
<header>
    <div>
        <div>
            <h1><span class="heavy">Purdue.io</span> Web API Help Page</h1>
        </div>
    </div>
</header>
<body>
    <nav>
        <div class="info">
            <h1>Meeting Object Content</h1>
            <p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>MeetingId</td>
                        <td>A unique identifier for a specific meeting.</td>
                        <td>Guid</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>The typing the meeting is, i.e. "Lecture"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>StartDate</td>
                        <td>Starting date of the meeting, i.e. "2015-01-12T00:00:00Z"</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>EndDate</td>
                        <td>Ending date of the meeting, i.e. "2015-05-02T00:00:00Z"</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>DaysOfWeek</td>
                        <td>A comma delimited listing of days the meeting takes place, i.e. "Monday, Wednesday, Friday"</td>
                        <td>Days of Week</td>
                    </tr>
                    <tr>
                        <td>StartTime</td>
                        <td>Time at which the meeting takes place, i.e. "2014-10-27T08:30:00Z"</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td>Length of time of the meeting, i.e. "PT50M"</td>
                        <td>Duration</td>
                    </tr>
                    <tr>
                        <td>Section</td>
                        <td>@Html.ActionLink("Section entity.", "Sections")</td>
                        <td>Entity</td>
                    </tr>
                    <tr>
                        <td>Instructors</td>
                        <td>@Html.ActionLink("Instructor entity.", "Instructors")</td>
                        <td>Entity</td>
                    </tr>
                    <tr>
                        <td>Room</td>
                        <td>@Html.ActionLink("Room entity.", "Rooms")</td>
                        <td>Entity</td>
                    </tr>
                </table>
            </p>
            <h1>Meeting Query Examples</h1>
            <p>
                A list of all lectures that start at 8:30 AM:
                <br />
                <a target="_blank" href="~/odata/Meetings?$filter=Type%20eq%20%27Lecture%27%20and%20hour(StartTime)%20eq%208%20and%20minute(StartTime)%20eq%2030">odata/Meetings?$filter=Type eq 'Lecture' and hour(StartTime) eq 8 and minute(StartTime) eq 30</a>
            </p>
        </div>
    </nav>
</body>
</html>