@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purdue.io API Tester</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <h1><span class="heavy">Purdue.io</span> API Tester</h1>
    </header>
    <nav>
        <h1>Test your query here</h1>
        <br />
        <h3>http://api.purdue.io/odata/</h3>
        <input type="text" size="100" id="queryBox" value="Courses?$filter=contains(Title, 'Algebra')">
        <button class="go"></button>
    </nav>
    <div class="content">
        <h1>Query results</h1>
        <br />
        <textarea id="resultsBox" cols="140" rows="25"></textarea>
        <br />
        <h1>Sample Queries</h1>
        <br />
        <select id="dropDown" onchange="new QueryTester().useExampleQuery()">
            <option value="0"></option>
            <option value="1">Search for a course with "Algebra" in the title</option>
            <option value="2">List all CS courses ordered by number</option>
            <option value="3">List all 300 level Spanish courses</option>
            <option value="4">List all courses taught by your favorite CS professor</option>
            <option value="5">List of all terms that Purdue.io has obtained</option>
            <option value="6">List of all classes that meet in CL50 224</option>
            <option value="7">List of 4 credit hour MA courses whose lectures have remaining space</option>
        </select>
    </div>

    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/ts")
    <script type="text/javascript">
		window.onload = function () {
			new QueryTester();
		};
    </script>
</body>
</html>
