@import "Constants.less";
@import "Functions.less";
@import "Fonts.less";

body {
	background-color:#000;
	font-family: "Open Sans";
	color:#fff;
}

/* Common controls */
h1 {
	font-weight:900;
	text-transform:uppercase;
	margin-top:0;
	padding-top:0;
	border-bottom:4px solid @accent-color;
}

input[type=text], input[type=password], input[type=search] {
	font-family:"Open Sans";
	background-color:#dedede;
	border:0;
	padding:4px 8px;
	.transition(background-color 150ms ease-in-out);

	&:focus {
		background-color:#fff;
	}
}

@-moz-keyframes anim-progress-indicator {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 48px;
  }
}

@-webkit-keyframes anim-progress-indicator {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 48px;
  }
}

@keyframes anim-progress-indicator {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 48px;
  }
}

div.globalProgressIndicator {
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:18px;
	z-index: 1000;
	background: url(../svg/progress_stripe.svg);
	opacity: 0.8;
	.animation-name(anim-progress-indicator);
	.animation-duration(1600ms);
	.animation-iteration-count(infinite);
	.animation-direction(normal);
	.animation-timing-function(linear);
	.animation-play-state(running);
	.transition(top 200ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms cubic-bezier(0.165, 0.84, 0.44, 1););

	&.closed {
		top:-18px;
		opacity:0;
		.transition(top 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1););
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 96px;
	overflow: hidden;

	font-family: "Open Sans";
	font-weight: 200;
	font-size: 52px;
	list-style-type: none;
	display: inline-block;
	margin: 14px 16px;
	padding:0;
	white-space: nowrap;
}

form {
	position:relative;
	top:100px;
	margin:0 auto;
	width:100%;
	max-width:800px;
	text-align:center;
	font-size:24px;

	input[type=text] {
		width:512px;
		font-size:24px;
	}

	input[type=submit], a {
		color:@accent-color;
		cursor:pointer;
		background-color:transparent;
		border:0;
		font-size:20px;
		margin:8px;
		text-decoration:none;
	}
}

div.results {
	position:absolute;
	top:200px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	text-align:center;

	pre {
		display:inline-block;
		text-align:left;
	}
}