<html>
<head>
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Fonts.css" rel="stylesheet" />
    <title>Campuses - Purdue.io Web API Help Page</title>
</head>
<header>
    <div>
        <div>
            <h1><span class="heavy">Purdue.io</span> Web API Help Page</h1>
        </div>
    </div>
</header>
<body>
    <nav>
        <div class="info">
            <h1>Campus Object Content</h1>
            <p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>CampusId</td>
                        <td>A unique identifier for a specific campus.</td>
                        <td>Guid</td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>Abbreviation for a specific campus, i.e. "PWL"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Name of the campus.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>ZipCode</td>
                        <td>Zip code of the campus.</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Buildings</td>
                        <td>@Html.ActionLink("Building entity.", "Buildings")</td>
                        <td>Entity</td>
                    </tr>
                </table>
            </p>
            <h1>Campus Query Examples</h1>
            <p>
                Generic Heading:
                <br />
                <a target="_blank" href="~/odata/Courses?$filter=Subject/Abbreviation%20eq%20%27CS%27&$orderby=Number%20asc">Generic Link</a>
            </p>
        </div>
    </nav>
</body>
</html>