<html>
<head>
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Fonts.css" rel="stylesheet" />
    <title>Sections - Purdue.io Web API Help Page</title>
</head>
<header>
    <div>
        <div>
            <h1><span class="heavy">Purdue.io</span> Web API Help Page</h1>
        </div>
    </div>
</header>
<body>
    <nav>
        <div class="info">
            <h1>Section Object Content</h1>
            <p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>SectionId</td>
                        <td>A unique identifier for a specific section.</td>
                        <td>Guid</td>
                    </tr>
                    <tr>
                        <td>CRN</td>
                        <td>The official number of a section that Purdue uses for reference, i.e. "13342"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>The typing the section is, i.e. "Lecture"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>RegistrationStatus</td>
                        <td>Status of the section's registration, i.e. "NotAvailable"</td>
                        <td>Registration Status</td>
                    </tr>
                    <tr>
                        <td>StartDate</td>
                        <td>Starting date of the section, i.e. "2015-01-12T00:00:00Z"</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>EndDate</td>
                        <td>Ending date of the section, i.e. "2015-05-02T00:00:00Z"</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>Capacity</td>
                        <td>Maximum number of students that can enroll in the section, i.e. 108</td>
                        <td>Int32</td>
                    </tr>
                    <tr>
                        <td>Enrolled</td>
                        <td>Number of students currently enrolled in the section, i.e. 0</td>
                        <td>Int32</td>
                    </tr>
                    <tr>
                        <td>RemainingSpace</td>
                        <td>Number of seats available in the section, i.e. 108</td>
                        <td>Int32</td>
                    </tr>
                    <tr>
                        <td>WaitlistCapacity</td>
                        <td>The number of students that can join the section's waitlist, i.e. 36</td>
                        <td>Int32</td>
                    </tr>
                    <tr>
                        <td>WaitlistCount</td>
                        <td>The number of students currently on the section's waitlist, i.e. 0</td>
                        <td>Int32</td>
                    </tr>
                    <tr>
                        <td>WaitlistSpace</td>
                        <td>The number of spaces available on the section's waitlist, i.e. 36</td>
                        <td>Int32</td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td>@Html.ActionLink("Class entity.", "Classes")</td>
                        <td>Entity</td>
                    </tr>
                    <tr>
                        <td>Meetings</td>
                        <td>@Html.ActionLink("Meeting entity.", "Meetings")</td>
                        <td>Entity</td>
                    </tr>
                </table>
            </p>
            <h1>Section Query Examples</h1>
            <p>
                A list of all lectures that have at least 20 students enrolled with at least 5 spots remaining:
                <br />
                <a target="_blank" href="~/odata/Sections?$filter=Type%20eq%20%27Lecture%27%20and%20Enrolled%20gt%2020%20and%20RemainingSpace%20gt%205">odata/Sections?$filter=Type eq 'Lecture' and Enrolled gt 20 and RemainingSpace gt 5</a>
            </p>
        </div>
    </nav>
</body>
</html>