<html>
<head>
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/css/Fonts.css" rel="stylesheet" />
    <title>Terms - Purdue.io Web API Help Page</title>
</head>
<header>
    <div>
        <div>
            <h1><span class="heavy">Purdue.io</span> Web API Help Page</h1>
        </div>
    </div>
</header>
<body>
    <nav>
        <div class="info">
            <h1>Term Object Content</h1>
            <p>
                <table>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td><b>Type</b></td>
                    </tr>
                    <tr>
                        <td>TermId</td>
                        <td>A unique identifier for a specific term.</td>
                        <td>Guid</td>
                    </tr>
                    <tr>
                        <td>TermCode</td>
                        <td>Official term code, i.e. "201520"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>Name of the term, i.e. "Spring 2015"</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>StartDate</td>
                        <td>Starting time for the term in question.</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>EndDate</td>
                        <td>Ending time for the term in question.</td>
                        <td>DateTime Offset</td>
                    </tr>
                    <tr>
                        <td>Classes</td>
                        <td>@Html.ActionLink("Class entity.", "Classes")</td>
                        <td>Entity</td>
                    </tr>
                </table>
            </p>
            <h1>Term Query Examples</h1>
            <p>
                Generic Heading:
                <br />
                <a target="_blank" href="~/odata/Courses?$filter=Subject/Abbreviation%20eq%20%27CS%27&$orderby=Number%20asc">Generic Link</a>
            </p>
        </div>
    </nav>
</body>
</html>